<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Crear feria</h2>
                </div>
                <form class="card-body" th:action="@{/ferias/crear}" th:object="${feria}" method="POST" enctype="multipart/form-data"> 
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="String" class="form-control" id="nombre" name="nombre">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                    </div>
                   <div class="mb-3">                                      
                        <label for="dias" class="form-label">dias</label>
                        <input type="String" class="form-control" id="dias" name="dias">
                    </div> 
                    <div class="mb-3">
                        <label for="horaApertura" class="form-label">horaApertura</label>
                        <input type="Time" class="form-control" id="horaApertura" name="horaApertura">
                    </div>
                    <div class="mb-3">
                        <label for="horaCierre" class="form-label">horaCierre</label>
                        <input type="Time" class="form-control" id="horaCierre" name="horaCierre">
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="String" class="form-control" id="direccion" name="direccion">
                   
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mx-2">Guardar</button>
                        <a href="/ferias" class="btn btn-secondary mx-2">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script">
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Seleccione una opción',
            width: '100%',
        });
    });
</script>