<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Editar feria</h2>  
                </div>
                <form class="card-body" th:action="@{/ferias/editar/{id}}" th:object="${feria}" method="PUT">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de la Feria</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:errorClass="'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="dias" class="form-label">Dias</label>
                        <input type="text" class="form-control" id="dias" th:field="*{dias}" th:errorClass="'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('dias')}" th:errors="*{dias}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="horaApertura" class="form-label">Hora de apertura</label>
                        <input type="time" class="form-control" id="horaApertura" th:field="*{horaApertura}" th:errorClass="'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('horaApertura')}" th:errors="*{horaApertura}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="horaCierre" class="form-label">Hora de cierre</label>
                        <input type="time" class="form-control" id="horaCierre" th:field="*{horaCierre}" th:errorClass="'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('horaCierre')}" th:errors="*{horaCierre}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direccion" th:field="*{direccion}" th:errorClass="'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mx-2">Guardar</button>
                        <a href="/ferias" class="btn btn-secondary mx-2">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script">
   
</script>