<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header h3" th:text="${feria.nombre}"></div>
                <div class="card-body">
                    <p>
                        <span class="fw-bold">Día:</span>
                        <span th:text="${feria.dia}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Dirección:</span>
                        <span th:text="${feria.direccion}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Hora de Apertura: </span>
                        <span th:text="${feria.horaApertura}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Dirección:</span>
                        <span th:text="${feria.horaCierre}"></span>
                    </p>
                    
                    <div class="d-flex justify-content-center">
                        <a href="/ferias" class="btn btn-secondary mx-2">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script"></script>