<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Crear productor
                </div>
                <form class="card-body" action="/productores" method="POST" >
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">telefono</label>
                        <input type="number" class="form-control" id="telefono" name="telefono">
                    </div>
                    <div class="mb-3">
                        <label for="localidad" class="form-label">localidad</label>
                        <input type="text" class="form-control" id="localidad" name="localidad">
                   
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mx-2">Guardar</button>
                        <a href="/productores" class="btn btn-secondary mx-2">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script">
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Seleccione una opción',
            width: '100%',
        });
    });
</script>