<div  class="container pt-3 my-auto" th:fragment="contenido">
    <div class="card-columns">      
      <div  class="card mb-3 d-inline-block">
            <img class="card-img-top" src="/images/ferias/feria1.jpg" alt="feria de Argentina">
            <div class="card-body">
                <h5 class="card-title">Ferias Francas de Misiones</h5>
                <p class="card-text">Encontrá las ferias, productos y productores que podés encontrar en toda la provincia</p>
               
            </div>
        </div>    
    </div>

